{% extends 'index.html' %}

link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />


    {% block title %}Admin{% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> User Management </h3>
            <nav aria-label="breadcrumb">
              
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> <code>User details</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # id </th>
                            <th> First name </th>
                            <th> Last name </th>
                            <th> Mobile </th>
                            <th> Email </th>
                            <th> Is Active </th>
                            <th> Is Admin  </th>
                            <th>Is Verified</th>
                            <th> Block </th>
                          </tr>
                        </thead>
                        <tbody>
                        
                        {% for account in account %}
                          {% if not account.is_admin %}
                          {% if account.is_verified %}
                          <tr>
                            <td> {{account.id}} </td>
                            <td> {{account.first_name}} </td>
                            <td> {{account.last_name}}</td>
                            <td> {{account.mobile}} </td>
                            <td> {{account.email}} </td>
                            <td> {{account.is_active}} </td>
                            <td> {{account.is_admin}} </td>
                            <td> {{account.is_verified}} </td>
                            {% if not account.is_admin %}
                            {% if account.is_active %}
                            <td> 
                                <!-- Button trigger modal -->
                                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{account.id}}">
                                  Block
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{account.id}}" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Block this User</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body text-warning">
                                        Do You Really want to Block this User.
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form action="{% url 'admin-user-block' account.id %}" method="post">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-danger" >Block</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            {% else %}
                            <td> 
                                <!-- Button trigger modal -->
                                <a href="" class="btn btn-success" data-toggle="modal" data-target="#exampleModal{{account.id}}">
                                  Unblock
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{account.id}}" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Unblock this User</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body text-warning">
                                        Do You Really want to Unblock this User.
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form action="{% url 'admin-user-block' account.id %}" method="post">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-success" >Unblock</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            {% endif %}
                            {% endif %}
                          </tr>
                          {% endif  %}
                          {% endif %}
                        {% endfor  %}

                        </tbody>
                        
                      </table>
                    </div>
                  </div>

                  {% if user_list.has_other_pages %}
                  <div>
                  <nav aria-label="..." >
                    <ul class="pagination" style="justify-content: center;">
                     {% if user_list.has_previous %}
                      <li class="page-item ">
                        <a class="page-link" href="?page={{ user_list.previous_page_number }}" >Previous</a>
                      </li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                      {% endif %}
                      {% for i in products.paginator.page_range %}
                      {% if products.number == i %}
                      <li>
                      <a class="page-links" href="#">
                        <div class="pagination:number">
                         {{i}}
                        </div>
                      </a>
                      </li>
                      {% else %}
                      <li>
                        <a class="page-links" href="?page={{i}}">
                          <div class="pagination:number">
                           {{i}}
                          </div>
                        </a>
                        </li>
                      {% endif %}
                      {% endfor %}
                      {% if user_list.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ user_list.next_page_number }}">Next</a>
                      </li>
                      {% else %}
                      <li class="page-item">
                        <a class="page-link" href="">Next</a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                  </div>
                  {% endif %}
            
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <!-- End custom js for this page -->

{% endblock %}