{% extends 'index.html' %}



{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% block title %}Admin{% endblock %}


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Order Management </h3>
            <nav aria-label="breadcrumb">
              
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> <code>Orders details</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # id </th>
                            <th> Image </th>
                            <th> Product Name </th>
                            <th> Price </th>
                            <th> Quantity </th>
                            <th> Grand Total  </th>
                            <th> User </th>
                            <th>Payment</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for order in order_product %}
                          <tr>
                            <td> {{order.id}} </td>
                            <td> <img src="{{order.product.pro_image1.url}}" alt=""> </td>
                            <td> {{order.product.product_name}} </td>
                            <td> ₹ {{order.product.price}}</td>
                            <td> {{order.quantity}} </td>
                            <td>₹ {{sub_total}}</td>
                            <td> {{order.order.user}} 
                            <td>{{order.Payment.payment_method}}</td>
                            <td><a href="{% url 'order-status' order.order.order_number %}" class="btn btn-success">Update order stauts</a></td>
                          </tr>

                        {% endfor  %}

                        </tbody>
                        
                      </table>
                    </div>
                  </div>


                  {% if paginator.has_other_pages %}
              <div class="pt-5">
              <nav aria-label="..." >
                <ul class="pagination" style="justify-content: center;">
                 {% if paginator.has_previous %}
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ paginator.previous_page_number }}" >Previous</a>
                  </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                  {% endif %}
                  {% for i in paginator.paginator.page_range %}
                  {% if paginator.number == i %}
                  <li>
                  <a class="page-links" href="#">
                    <div class="pagination:number">
                     {{i}}
                    </div>
                  </a>
                  </li>
                  {% else %}
                  <li>
                    <a class="page-links" href="?page={{i}}">
                      <div class="pagination:number">
                       {{i}}
                      </div>
                    </a>
                    </li>
                  {% endif %}
                  {% endfor %}
                  {% if paginator.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.next_page_number }}">Next</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="">Next</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              </div>

              {% endif %}
                  
            
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
  
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>

  <script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
    })
  </script>




{% endblock %}