{% extends 'index.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      
      <!-- partial -->
                
                <div class="row" style="width: 100%;">
                    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="mb-0">Add Product</h4>
                                    </div>
                                    {% if messages %}     
                                        <div class="messages">
                                            {% for message in messages %}
                                            <strong style="color: #ed0e25 ; "> {{message}} </strong>
                                        </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}

                                    <div class="card-body">
                                        <form method="POST" enctype="multipart/form-data" id="registration_form">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label>Product Name</label>
                                                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
                                                <div class="warning-input" id="fname_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label>Product Name in the Card</label>
                                                <br>
                                                <input type="text" class="form-control" id="product_name_card" name="product_name_card" placeholder="Product Card Name" />
                                                <div class="warning-input" id="pname_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label>Slug</label>
                                                <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" style="text-transform:lowercase" />
                                                <div class="warning-input" id="slug_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="address">Discription in box one</label>
                                                <input type="text" class="form-control" id="product_discription" name="product_discription" placeholder="Product Discription" />
                                                <div class="warning-input" id="desc_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                              <label for="address">Discription in box two</label>
                                              <input type="text" class="form-control" id="product_discription1" name="product_discription1" placeholder="Product Discription" />
                                          </div>
                                          <div class="mb-3">
                                            <label for="address">Discription in box three</label>
                                            <input type="text" class="form-control" id="product_discription2" name="product_discription2" placeholder="Product Discription" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="address">Product highlights one</label>
                                            {{form.product_highlights}}
                                            
                                        </div>

                                        <div class="mb-3">
                                          <label for="address">Product highlights Two</label>
                                          {{form.product_highlights1}}
                                          
                                      </div>

                                      <div class="mb-3">
                                        <label for="address">Product highlights Three</label>
                                        {{form.product_highlights2}}
                                        
                                    </div>

                                    <div class="mb-3">
                                      <label for="address">Product highlights four</label>
                                      {{form.product_highlights3}}
                                      
                                  </div>

                                  <div class="mb-3">
                                    <label for="address">Product highlights five</label>
                                    {{form.product_highlights4}}
                                    
                                </div>
                                  
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label >Product Price</label>
                                                    <input type="text" class="form-control" id="price" name="price" placeholder="Price" />
                                                    <div class="warning-input" id="price_error_message">
                                                        Please conform your password
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="country">Category</label>
                                                    {{form.category}}
                                                    <div class="invalid-feedback">
                                                        Please select a valid country.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label for="country">Number of  Stock Available</label>
                                                    <input type="text" class="form-control" id="stock" name="stock" placeholder="Stock" />
                                                    <div class="warning-input" id="stock_error_message">
                                                        Please conform your password
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 1</label>
                                                    {{form.pro_image1}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 2</label>
                                                    {{form.pro_image2}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 3</label>
                                                    {{form.pro_image3}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 4</label>
                                                    {{form.pro_image4}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 5</label>
                                                    {{form.pro_image5}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <hr class="mb-4">
                                            <div class="custom-control custom-checkbox">
                                               {{form.is_available}}
                                               <label >Is Product Available?</label>
                                            </div>
                                            <hr class="mb-4">
                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add Product</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
    <!-- page-body-wrapper ends -->
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>


<script type="text/javascript">

    $("registration_form"). submit(function(e){
    e. preventDefault();
    });

    
    $(function() {

       $("#fname_error_message").hide();
       $("#sname_error_message").hide();
       $("#pname_error_message").hide();
       $("#slug_error_message").hide();
       $("#desc_error_message").hide();
       $("#price_error_message").hide();
       $("#stock_error_message").hide();


       var error_fname = false;
       var error_sname = false;
       var error_slug = false;
       var error_pname  = false;
       var error_des = false;
       var error_price = false;
       var error_stock = false;

       $("#product_name").focusout(function(){
          check_fname();
       });
       $("#last_name").focusout(function() {
          check_sname();
       });
       $("#product_name_card").focusout(function() {
            check_pname();
       });
       $("#slug").focusout(function() {
          check_slug();
       });
       $("#product_discription").focusout(function() {
          check_desc();
       });
       $("#price").focusout(function() {
          check_price();
       });
       $("#stock").focusout(function() {
          check_stock();
       });


       

       function check_fname() {
          var fname = $("#product_name").val();
          if ( fname !== '') {
             $("#fname_error_message").hide();
             $("#product_name").css("border-bottom","2px solid #34F458");
          } else {
             $("#fname_error_message").html("Please enter a Product name.");
             $("#fname_error_message").show();
             $("#product_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }

       function check_pname() {
          var pname = $("#product_name_card").val();
          if ( pname !== '') {
             $("#pname_error_message").hide();
             $("#product_name_card").css("border-bottom","2px solid #34F458");
          } else {
             $("#pname_error_message").html("Please enter a Product name.");
             $("#pname_error_message").show();
             $("#product_name_card").css("border-bottom","2px solid #F90A0A");
             error_pname = true;
          }
       }

       function check_sname() {
          
          var sname = $("#last_name").val()
          if (sname !== '') {
             $("#sname_error_message").hide();
             $("#last_name").css("border-bottom","2px solid #34F458");
          } else {
             $("#sname_error_message").html("Please enter a Your last name.");
             $("#sname_error_message").show();
             $("#last_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }

       function check_slug() {
          var pattern = /^[a-z0-9/-]*$/;
          var slug = $("#slug").val();
          if (pattern.test(slug) && slug !== '') {
             $("#slug_error_message").hide();
             $("#slug").css("border-bottom","2px solid #34F458");
          }else if (slug == ''){
            $("#slug_error_message").html("Please enter slug.");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          } 
          else {
             $("#slug_error_message").html("Enter a Valid sulg . Slug should be all small letters");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          }
       }

       function check_desc() {
         
          var name = $("#product_discription").val()
          if (name !== '') {
             $("#desc_error_message").hide();
             $("#product_discription").css("border-bottom","2px solid #34F458");
          } else {
             $("#desc_error_message").html("Please enter  Discription ");
             $("#desc_error_message").show();
             $("#product_discription").css("border-bottom","2px solid #F90A0A");
             error_des = true;
          }
       }

       function check_price() {
          var pattern = /^[0-9]*$/;
          var price = $("#price").val();
          if (pattern.test(price) && price !== '') {
             $("#price_error_message").hide();
             $("#price").css("border-bottom","2px solid #34F458");
          } else if(price == ''){
            $("#price_error_message").html("Please enter the price .");
             $("#price_error_message").show();
             $("#price").css("border-bottom","2px solid #F90A0A");
          }else {
             $("#price_error_message").html("Please enter a valid price.");
             $("#price_error_message").show();
             $("#price").css("border-bottom","2px solid #F90A0A");
             error_price = true;
          }
       }
       function check_stock() {
          var pattern = /^[0-9]*$/;
          var stock = $("#stock").val();
          if (pattern.test(stock) && stock !== '') {
             $("#stock_error_message").hide();
             $("#stock").css("border-bottom","2px solid #34F458");
          } else if(stock == ''){
            $("#stock_error_message").html("Please enter the stock .");
             $("#stock_error_message").show();
             $("#stock").css("border-bottom","2px solid #F90A0A");
          }else {
             $("#stock_error_message").html("Please enter a valid stock.");
             $("#stock_error_message").show();
             $("#stock").css("border-bottom","2px solid #F90A0A");
             error_stock = true;
          }
       }
       



       $("#registration_form").submit(function() {
          error_fname = false;
          error_sname = false;
          error_slug = false;
          error_pname = false;
          error_des = false;
          error_price = false;
          error_stock = false;

          check_fname();
          check_sname();
          check_pname();
          check_slug();
          check_desc();
          check_price();
          check_stock();

          if (error_fname === false && error_sname === false && error_pname === false && error_slug === false && error_price === false) {
             
             return true;
          } else {
             alert("Please Fill the form Correctly");
             return false;
          }


       });
    });
 </script>

{% endblock %}