{% extends 'index.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/static/assets/images/entrega-logo.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/static/assets/images/entrega-logo.png" alt="logo" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'admin-home' %}">
            <span class="menu-icon">
              <i class="fa fa-home" aria-hidden="true"></i>
            </span>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'admin-user-list' %}">
            <span class="menu-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </span>
            <span class="menu-title">User Management</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'admin-product-list' %}">
            <span class="menu-icon">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </span>
            <span class="menu-title">Product Management</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'admin-category' %}">
            <span class="menu-icon">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </span>
            <span class="menu-title">Category Management</span>
          </a>
        </li>
        
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'admin-order' %}">
            <span class="menu-icon">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </span>
            <span class="menu-title">Order Management</span>
          </a>
        </li>
  
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'admin-offer' %}">
            <span class="menu-icon">
              <i class="fa fa-percent" aria-hidden="true"></i>
            </span>
            <span class="menu-title">Offer Management</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search products">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            
            
            
            
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <!-- <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt=""> -->
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Log out</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">Advanced settings</p>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      
      <!-- partial -->
      {% if messages %}
                <div class="alert alert-danger mx-auto" role="alert">
                
                <div class="messages">
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>        
                    {{ message }}
                </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="row" style="width: 100%;">
                    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="mb-0">Add Product</h4>
                                    </div>
                                    <div class="card-body">
                                        <form method="POST" enctype="multipart/form-data" id="registration_form">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label>Product Name</label>
                                                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" />
                                                <div class="warning-input" id="fname_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label>Product Name in the Card</label>
                                                <br>
                                                <input type="text" class="form-control" id="product_name_card" name="product_name_card" placeholder="Product Card Name" />
                                                <div class="warning-input" id="pname_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label>Slug</label>
                                                <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" style="text-transform:lowercase" />
                                                <div class="warning-input" id="slug_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="address">Discription</label>
                                                <input type="text" class="form-control" id="product_discription" name="product_discription" placeholder="Product Discription" />
                                                <div class="warning-input" id="desc_error_message">
                                                    Please conform your password
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                              <label for="address">Discription</label>
                                              <input type="text" class="form-control" id="product_discription1" name="product_discription1" placeholder="Product Discription" />
                                          </div>
                                          <div class="mb-3">
                                            <label for="address">Discription</label>
                                            <input type="text" class="form-control" id="product_discription2" name="product_discription2" placeholder="Product Discription" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="address">Product highlights</label>
                                            {{form.product_highlights}}
                                            
                                        </div>

                                        <div class="mb-3">
                                          <label for="address">Product highlights</label>
                                          {{form.product_highlights1}}
                                          
                                      </div>

                                      <div class="mb-3">
                                        <label for="address">Product highlights</label>
                                        {{form.product_highlights2}}
                                        
                                    </div>

                                    <div class="mb-3">
                                      <label for="address">Product Hilihighlightsghts</label>
                                      {{form.product_highlights3}}
                                      
                                  </div>

                                  <div class="mb-3">
                                    <label for="address">Product highlights</label>
                                    {{form.product_highlights4}}
                                    
                                </div>
                                  
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label >Product Price</label>
                                                    <input type="text" class="form-control" id="price" name="price" placeholder="Price" />
                                                    <div class="warning-input" id="price_error_message">
                                                        Please conform your password
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="country">Category</label>
                                                    {{form.category}}
                                                    <div class="invalid-feedback">
                                                        Please select a valid country.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label for="country">Number of  Stock Available</label>
                                                    <input type="text" class="form-control" id="stock" name="stock" placeholder="Stock" />
                                                    <div class="warning-input" id="stock_error_message">
                                                        Please conform your password
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 1</label>
                                                    {{form.pro_image1}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 2</label>
                                                    {{form.pro_image2}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 3</label>
                                                    {{form.pro_image3}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 4</label>
                                                    {{form.pro_image4}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 mb-3">
                                                    <label >Product image 5</label>
                                                    {{form.pro_image5}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <hr class="mb-4">
                                            <div class="custom-control custom-checkbox">
                                               {{form.is_available}}
                                               <label >Is Product Available?</label>
                                            </div>
                                            <hr class="mb-4">
                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add Product</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
    <!-- page-body-wrapper ends -->
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>


<script type="text/javascript">

    $("registration_form"). submit(function(e){
    e. preventDefault();
    });

    
    $(function() {

       $("#fname_error_message").hide();
       $("#sname_error_message").hide();
       $("#pname_error_message").hide();
       $("#slug_error_message").hide();
       $("#desc_error_message").hide();
       $("#price_error_message").hide();
       $("#stock_error_message").hide();


       var error_fname = false;
       var error_sname = false;
       var error_slug = false;
       var error_pname  = false;
       var error_des = false;
       var error_price = false;
       var error_stock = false;

       $("#product_name").focusout(function(){
          check_fname();
       });
       $("#last_name").focusout(function() {
          check_sname();
       });
       $("#product_name_card").focusout(function() {
            check_pname();
       });
       $("#slug").focusout(function() {
          check_slug();
       });
       $("#product_discription").focusout(function() {
          check_desc();
       });
       $("#price").focusout(function() {
          check_price();
       });
       $("#stock").focusout(function() {
          check_stock();
       });


       

       function check_fname() {
          var fname = $("#product_name").val();
          if ( fname !== '') {
             $("#fname_error_message").hide();
             $("#product_name").css("border-bottom","2px solid #34F458");
          } else {
             $("#fname_error_message").html("Please enter a Product name.");
             $("#fname_error_message").show();
             $("#product_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }

       function check_pname() {
          var pname = $("#product_name_card").val();
          if ( pname !== '') {
             $("#pname_error_message").hide();
             $("#product_name_card").css("border-bottom","2px solid #34F458");
          } else {
             $("#pname_error_message").html("Please enter a Product name.");
             $("#pname_error_message").show();
             $("#product_name_card").css("border-bottom","2px solid #F90A0A");
             error_pname = true;
          }
       }

       function check_sname() {
          
          var sname = $("#last_name").val()
          if (sname !== '') {
             $("#sname_error_message").hide();
             $("#last_name").css("border-bottom","2px solid #34F458");
          } else {
             $("#sname_error_message").html("Please enter a Your last name.");
             $("#sname_error_message").show();
             $("#last_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }

       function check_slug() {
          var pattern = /^[a-z0-9/-]*$/;
          var slug = $("#slug").val();
          if (pattern.test(slug) && slug !== '') {
             $("#slug_error_message").hide();
             $("#slug").css("border-bottom","2px solid #34F458");
          }else if (slug == ''){
            $("#slug_error_message").html("Please enter slug.");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          } 
          else {
             $("#slug_error_message").html("Enter a Valid sulg . Slug should be all small letters");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          }
       }

       function check_desc() {
         
          var name = $("#product_discription").val()
          if (name !== '') {
             $("#desc_error_message").hide();
             $("#product_discription").css("border-bottom","2px solid #34F458");
          } else {
             $("#desc_error_message").html("Please enter  Discription ");
             $("#desc_error_message").show();
             $("#product_discription").css("border-bottom","2px solid #F90A0A");
             error_des = true;
          }
       }

       function check_price() {
          var pattern = /^[0-9]*$/;
          var price = $("#price").val();
          if (pattern.test(price) && price !== '') {
             $("#price_error_message").hide();
             $("#price").css("border-bottom","2px solid #34F458");
          } else if(price == ''){
            $("#price_error_message").html("Please enter the price .");
             $("#price_error_message").show();
             $("#price").css("border-bottom","2px solid #F90A0A");
          }else {
             $("#price_error_message").html("Please enter a valid price.");
             $("#price_error_message").show();
             $("#price").css("border-bottom","2px solid #F90A0A");
             error_price = true;
          }
       }
       function check_stock() {
          var pattern = /^[0-9]*$/;
          var stock = $("#stock").val();
          if (pattern.test(stock) && stock !== '') {
             $("#stock_error_message").hide();
             $("#stock").css("border-bottom","2px solid #34F458");
          } else if(stock == ''){
            $("#stock_error_message").html("Please enter the stock .");
             $("#stock_error_message").show();
             $("#stock").css("border-bottom","2px solid #F90A0A");
          }else {
             $("#stock_error_message").html("Please enter a valid stock.");
             $("#stock_error_message").show();
             $("#stock").css("border-bottom","2px solid #F90A0A");
             error_stock = true;
          }
       }
       



       $("#registration_form").submit(function() {
          error_fname = false;
          error_sname = false;
          error_slug = false;
          error_pname = false;
          error_des = false;
          error_price = false;
          error_stock = false;

          check_fname();
          check_sname();
          check_pname();
          check_slug();
          check_desc();
          check_price();
          check_stock();

          if (error_fname === false && error_sname === false && error_pname === false && error_slug === false && error_price === false) {
             
             return true;
          } else {
             alert("Please Fill the form Correctly");
             return false;
          }


       });
    });
 </script>

{% endblock %}