{% extends 'index.html' %}



{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% block title %}Admin{% endblock %}


<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  {% include 'superuser/navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Offer Management </h3>
            <nav aria-label="breadcrumb">
              
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> <code>Offer details</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # id </th>
                            <th> Image </th>
                            <th> Product Name </th>
                            <th> Category </th>
                            <th> offer Percentage </th>
                            <th> update Offer  </th>
                            <th>Delete Offer</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for offer in offer %}
                          <tr>
                            <td> {{offer.id}} </td>
                            <td> <img src="{{offer.product.pro_image1.url}}" alt=""></td>
                            <td>{{offer.product.product_name}} </td>
                            <td> {{offer.category}} </td>
                            <td> {{offer.offer}}%</td>
                            <td><a href="{% url 'admin-update-offer' offer.id %}" class="btn btn-warning">Update offer</a></td>
                            <td>
                                
                              <!-- Button trigger modal -->
                              <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{offer.id}}">
                                Delete
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal{{offer.id}}" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Category</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body text-warning">
                                      Do You Really want to delete this Offer.
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <form action="{% url 'admin-delete-offer' offer.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" >Delete</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </td>
                          </tr>

                        {% endfor  %}

                        </tbody>
                        
                      </table>
                    </div>
                    <a href="{% url 'admin-add-offer' %}" class="btn btn-success mt-4">Add Offers</a>
                  </div>
                  
            
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
  
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>

  <script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
    })
  </script>




{% endblock %}