{% extends 'index.html' %}



{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% block title %}Admin{% endblock %}


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Product Management </h3>
            <nav aria-label="breadcrumb">
              
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> <code>Product details</code>
                    </p>
                    <a href="{% url 'admin-add-product' %}" class="btn btn-success mt-4 mb-3">Add Product</a>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # id </th>
                            <th> Image </th>
                            <th> Product Name </th>
                            <th> Price </th>
                            <th> Stock </th>
                            <th> category  </th>
                            <th> Is Available </th>
                            <th>Update</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for product in product %}
                          <tr>
                            <td> {{product.id}} </td>
                            <td> <img src="{{product.pro_image1.url}}" alt=""> </td>
                            <td> {{product.product_name_card}} </td>
                            <td> ₹ {{product.price}}</td>
                            <td> {{product.stock}} </td>
                            <td> {{product.category}} </td>
                            <td> {{product.is_available}} </td>
                            <td>
                                <a href="{% url 'admin-update-product' product.id %}" class="btn btn-warning text-dark" >Update</a>
                            </td>
                            <td>
                                
                                <!-- Button trigger modal -->
                                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{product.id}}">
                                  Delete
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body text-warning">
                                        Do You Really want to delete this Product.
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form action="{% url 'admin-delete-product' product.id %}" method="post">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-danger" >Delete</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </td>
                          </tr>

                        {% endfor  %}

                        </tbody>
                        
                      </table>
                    </div>

                  {% if product.has_other_pages %}
                    <div>
                    <nav aria-label="...">
                      <ul class="pagination pt-4" style="justify-content: center;">
                        {%  if product.has_previous %}
                        <li class="page-item ">
                          <a class="page-link" href="?page={{product.previous_page_number}}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in product.paginator.page_range %}
                        {% if product.number == i %}
                        <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        
                        {% if product.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{product.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Next</a>
                        </li>
                        {% endif %}
                      </ul>
                    </nav>
                  </div>
                  {% endif %}
                 
                    
                    
                  </div>
                  
            
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>

  <script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
    })
  </script>




{% endblock %}