{% extends 'index.html' %}


{% block title %}Admin{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
    <!-- partial -->
   
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Category Management </h3>
            <nav aria-label="breadcrumb">
              
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> <code>Category details</code>
                    </p>
                    <a href="{% url 'admin-add-category' %}" class="btn btn-success mb-4 mt-4">Add Category</a>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # id </th>
                            <th> Image </th>
                            <th> Category Name </th>
                            <th>Update</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for category in category %}
                          <tr>
                            <td> {{category.id}} </td>
                            <td> <img src="{{category.cat_image.url}}" alt=""> </td>
                            <td> {{category.category_name}} </td>
                            <td>
                                <a href="{% url 'admin-update-category' category.id %}" class="btn btn-warning text-dark" >Update</a>
                            </td>
                            <td>
                              <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{category.id}}">
                                Delete
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal{{category.id}}" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Category</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body text-warning">
                                      Do You Really want to delete this Category
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <form action="{% url 'admin-delete-category' category.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" >Delete</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor  %}

                        </tbody>
                        
                      </table>
                    </div>
                    
                  </div>
            
              </div>


              {% if paginator.has_other_pages %}
              <div class="pt-5">
              <nav aria-label="..." >
                <ul class="pagination" style="justify-content: center;">
                 {% if paginator.has_previous %}
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ paginator.previous_page_number }}" >Previous</a>
                  </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                  {% endif %}
                  {% for i in paginator.paginator.page_range %}
                  {% if paginator.number == i %}
                  <li>
                  <a class="page-links" href="#">
                    <div class="pagination:number">
                     {{i}}
                    </div>
                  </a>
                  </li>
                  {% else %}
                  <li>
                    <a class="page-links" href="?page={{i}}">
                      <div class="pagination:number">
                       {{i}}
                      </div>
                    </a>
                    </li>
                  {% endif %}
                  {% endfor %}
                  {% if paginator.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.next_page_number }}">Next</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="">Next</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              </div>

              {% endif %}
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>





{% endblock %}