{% extends 'index.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      
      <!-- partial -->
            


      <div class="row" style="width: 100%;">
          <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="row">
                  <div class="col-md-8">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="mb-0">Update Category</h4>
                          </div>
                          <div class="card-body">
                              <form method="POST" enctype="multipart/form-data" id="registration_form">
                                  {% csrf_token %}
                                  <div class="mb-3">
                                      <label>Category Name</label>
                                      <input id="field_ucfirst" type="text" class="form-control" id="category_name" name="category_name" placeholder="Category Name" />
                                      <div class="warning-input" id="fname_error_message">
                                          Please conform your password
                                          
                                      </div>
                                  </div>
                                  
                                  <div class="mb-3">
                                      <label>Slug</label>
                                      <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" />
                                      <div class="warning-input" id="slug_error_message">
                                          Please conform your password
                                          
                                      </div>
                                  </div>

                                  <div class="mb-3">
                                      <label for="address">Discription</label>

                                      <input type="" class="form-control" id="description" name="description" placeholder="Description" />
                                  </div>

                                  
                                  
                                  
                                  <div class="row">
                                      <div class="col-md-8 mb-3">
                                          <label >Category image </label>
                                          
                                          <input type="file" class="form-control" id="cat_image" name="cat_image"/>
                                          <div class="warning-input" id="name_error_message">
                                          Please conform your password
                                          
                                          </div>
                                      </div>
                                  </div>


                                  {% if messages %}     
                                    <div class="messages">
                                        {% for message in messages %}
                                        <strong style="color: #ed0e25 ; "> {{message}} </strong>
                                    </div>
                                        {% endfor %}
                                    {% endif %}
                                  
                              
                                  <hr class="mb-4">
                                  <button class="btn btn-primary btn-lg btn-block" type="submit">Add Category</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
            </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<!-- crop  -->

<script>
    
</script>

<!-- end crop -->


<script type="text/javascript">

    $("registration_form"). submit(function(e){
    e. preventDefault();
    });

    
    $(function() {

       $("#fname_error_message").hide();
       $("#slug_error_message").hide();
       $("#name_error_message").hide();
      


       var error_fname = false;
       var error_slug = false;
       var error_des = false;

       $("#category_name").focusout(function(){
          check_fname();
       });
       $("#slug").focusout(function() {
          check_slug();
       });
       $("#description").focusout(function() {
            check_name();
       });



       

       function check_fname() {
          
          var fname = $("#category_name").val();
          if (fname !== '') {
             $("#fname_error_message").hide();
             $("#category_name").css("border-bottom","2px solid #34F458");
          }else if (fname == ''){
            $("#fname_error_message").html("Please enter a Category name.");
             $("#fname_error_message").show();
             $("#category_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          } 
          else {
             $("#fname_error_message").html("Please enter a Valid Category name.");
             $("#fname_error_message").show();
             $("#category_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }

       function check_slug() {
          var pattern = /^[a-z1-9]*$/;
          var fname = $("#slug").val();
          if (pattern.test(fname) && fname !== '') {
             $("#slug_error_message").hide();
             $("#slug").css("border-bottom","2px solid #34F458");
          }else if (fname == ''){
            $("#slug_error_message").html("Please enter slug.");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          } 
          else {
             $("#slug_error_message").html("Enter a Valid sulg . Slug should be all small letters");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          }
       }


       
       



       $("#registration_form").submit(function() {
          error_fname = false;
          error_slug = false;
          error_des = false;

          check_fname();
          check_name();
          check_slug();

          if (error_fname === false && error_slug === false && error_email === false && error_password === false && error_retype_password === false) {
             
             return true;
          } else {
             alert("Please Fill the form Correctly");
             return false;
          }


       });
    });
 </script>


<script>

  document.getElementById("field_ucfirst").addEventListener("keypress", function(e) {
    if(this.selectionStart == 0) {
      // uppercase first letter
      forceKeyPressUppercase(e);
    } else {
      // lowercase other letters
      forceKeyPressLowercase(e);
    }
  }, false);

</script>
{% endblock %}