{% extends 'index.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">


<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    {% include 'superuser/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      
      <!-- partial -->
            

     

      <div class="row" style="width: 100%;">
          <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="row">
                  <div class="col-md-8">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="mb-0">Add Product</h4>
                          </div>
                          <div class="card-body">
                              <form method="POST" id="registration_form" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="mb-3">
                                      <label>Category Name</label>
                                      <div >
                                        {{form.category_name}}
                                      </div>
                                     
                                  </div>
                                  </div>
                                  <div class="mb-3 pl-3">
                                      <label>Slug</label>
                                      <div  >
                                      {{form.slug}}
                                      </div>
                                      
                                  </div>
                                  <div class="mb-3 pl-3">
                                      <label for="address">Discription</label>
                                        {{form.description}}
                                      <div class="warning-input" id="name_error_message">
                                          Please conform your password
                                          
                                      </div>
                                  </div>
                                  
                                  <div class="row pl-3">
                                      <div class="col-md-8 mb-3 pl-3">
                                          <label >Product image 1</label>
                                          <img src="{{category.cat_image.url}}" alt="" style="width: 100%;">
                                          {{form.cat_image}}
                                          <div class="invalid-feedback">
                                              Valid first name is required.
                                          </div>
                                      </div>
                                  </div>

                                  {% if messages %}     
                                    <div class="messages">
                                        {% for message in messages %}
                                        <strong style="color: #ed0e25 ; "> {{message}} </strong>
                                    </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                  
                                  <hr class="mb-4 pl-3">
                                  <button class="btn btn-primary btn-lg btn-block" type="submit">Update Product</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
            </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>


<script type="text/javascript">

    $("registration_form"). submit(function(e){
    e. preventDefault();
    });

    
    $(function() {

       $("#fname_error_message").hide();
       $("#sname_error_message").hide();
       $("#pname_error_message").hide();
       $("#slug_error_message").hide();
       $("#desc_error_message").hide();


       var error_fname = false;
       var error_sname = false;
       var error_slug = false;
       var error_pname  = false;
       var error_des = false;

       $("#category_name").focusout(function(){
          check_fname();
       });
       $("#last_name").focusout(function() {
          check_sname();
       });
       $("#slug").focusout(function() {
          check_slug();
       });
       $("#product_discription").focusout(function() {
          check_desc();
       });


       

       function check_fname() {
          var pattern = /^[a-zA-Z]*$/;
          var fname = $("#category_name").val();
          if (pattern.test(fname) && fname !== '') {
             $("#fname_error_message").hide();
             $("#category_name").css("border-bottom","2px solid #34F458");
          } else {
             $("#fname_error_message").html("Please enter a Product name.");
             $("#fname_error_message").show();
             $("#category_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }


       function check_sname() {
          var pattern = /^[a-zA-Z]*$/;
          var sname = $("#last_name").val()
          if (pattern.test(sname) && sname !== '') {
             $("#sname_error_message").hide();
             $("#last_name").css("border-bottom","2px solid #34F458");
          } else {
             $("#sname_error_message").html("Please enter a Your last name.");
             $("#sname_error_message").show();
             $("#last_name").css("border-bottom","2px solid #F90A0A");
             error_fname = true;
          }
       }

       function check_slug() {
          var pattern = /^[a-z]*$/;
          var slug = $("#slug").val();
          if (pattern.test(slug) && slug !== '') {
             $("#slug_error_message").hide();
             $("#slug").css("border-bottom","2px solid #34F458");
          }else if (slug == ''){
            $("#slug_error_message").html("Please enter slug.");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          } 
          else {
             $("#slug_error_message").html("Enter a Valid sulg . Slug should be all small letters");
             $("#slug_error_message").show();
             $("#slug").css("border-bottom","2px solid #F90A0A");
             error_slug = true;
          }
       }

       function check_desc() {
          var pattern = /^[a-zA-Z]*$/;
          var name = $("#product_discription").val()
          if (pattern.test(name) && name !== '') {
             $("#desc_error_message").hide();
             $("#product_discription").css("border-bottom","2px solid #34F458");
          } else {
             $("#desc_error_message").html("Please enter  Discription ");
             $("#desc_error_message").show();
             $("#product_discription").css("border-bottom","2px solid #F90A0A");
             error_des = true;
          }
       }

       


       $("#registration_form").submit(function() {
          error_fname = false;
          error_sname = false;
          error_slug = false;
          error_des = false;

          check_fname();
          check_sname();
          check_slug();
          check_desc();


          if (error_fname === false) {
             
             return true;
          } else {
             alert("Please Fill the form Correctly");
             return false;
          }


       });
    });
 </script>

{% endblock %}