{% extends 'index.html' %}



{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">


<div class="upper">
    <div class="logo">
        <a href="#">
            <img src="../static/img/logo2.svg" class="img-logo"/>
        </a>
    </div>
    <div class="login-div">
        <form class="login" method="POST">
            {% csrf_token %}
            <h1>Change Password</h1>
            <div class="input-text">
                <input type="password" id="inputEmail" name="current_password" placeholder="Current Password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningEmail">
                    Please enter a valid email or phone number.
                    
                </div>
            </div>

            <div class="input-text">
                <input type="password" id="inputEmail" name="new_password" placeholder="New Password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningEmail">
                    Please enter a valid email or phone number.
                    
                </div>
            </div>

            <div class="input-text">
                <input type="password" id="inputEmail" name="confirm_password" placeholder="Confirm password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningEmail">
                    Please enter a valid email or phone number.
                    
                </div>
            </div>
            
            <div>
                <button type="submit " class="signin-button">Submit
                    
                </button>
            </div>
            <br>
            <br>
            {% if messages %}
            <div class="alert alert-danger w-40 mx-auto" role="alert">
              
            <div class="messages">
                {% for message in messages %}
                 <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>        
                 {{ message }}
            </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="remember-flex">
                <div class="help">
                    <a class="color_text" href="{% url 'login' %}">Got Password Login?</a>
                </div>
                <div class="new-members">
                    New to Entrega? <a href="{% url 'signup_user' %}" class="signup-link">Sign up now</a>.
                </div>
            </div>
           
        </form>
    </div>
</div>


{% endblock %}