{% extends 'nav.html' %}
{% load static %}


{% block content%}
<style>
  body {
    font-family:monospace ;
  }
  </style>
  <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
<div style="
    display: flex;
    justify-content: center;
    padding-top: 15%;">
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img class="img-fluid" src="{{ logo.image.url }}"  alt="cuate" >
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 border"  style="border-radius: 1rem;" >
        <form method="POST" action="{% url 'user_otp' %}" >
          {% csrf_token %}
          <p class="form-label text-center m-2">OTP</p>
          <div class="form-outline m-2 ">
            <input type="text" class="form-control form-control-sm"  placeholder="Enter OTP" maxlength="6"  name="otp"/>
          </div>
          {% for x in messages %}
          <p style="color:red">{{x}}</p>
          {% endfor %}  
          <button type="submit" class="btn btn-white  btn-sm border btn-block m-2 float-end ">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}