{% extends 'index.html' %}



{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">


<div class="upper">
    <div class="logo">
        <a href="#">
            <img src="../static/img/logo2.svg" class="img-logo"/>
        </a>
    </div>
    <div class="login-div">
        <form class="login" method="POST">
            {% csrf_token %}
            <h1>Reset Password</h1>

            <div class="input-text">
                <input type="password" id="inputPassword" name="create_password" placeholder="Create Password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningPassword">
                    Your password must contain between 4 and 60 characters.
                </div>
            </div>
            
            
            <div class="input-text">
                <input type="password" id="inputPassword" name="confirm_password" placeholder="Conform Password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningPassword">
                    Your password must contain between 4 and 60 characters.
                </div>
            </div>
            
            <div>
                <button type="submit " class="signin-button">Reset Password
                    
                </button>
            </div>
            <br>
            <br>
            {% if messages %}
            <div class="alert alert-danger w-40 mx-auto" role="alert">
              
            <div class="messages">
                {% for message in messages %}
                 <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>        
                 {{ message }}
            </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="remember-flex">
                <div class="new-members">
                    New to Entrega? <a href="{% url 'signup_user' %}" class="signup-link">Sign up now</a>.
                </div>
            </div>
           
        </form>
    </div>
</div>


{% endblock %}