@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important;
}

.mt-100{
   margin-top:100px;

}
.bg{
    background: url(./assets/images/section-wrapper-bg.jpg);
}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #4466f2!important;
    border-color: #4466f2!important;
}


#card-box{
    background: #212529;
    padding: 22px 13px;
}


#order-title{
    text-align: center;
    color: #fff;
    padding: 21px 4px;
}

#order-title h3{
    font-size: 3rem;
}
.table-responsive{
    padding: 0;
}
.table-responsive .table img{
    width: 11rem;
}


.content-wrappe  .total-amount{
    
}

.total{
    text-align: end;
    color: #ffff;
}

.cart-headder h2{
    text-align: center;
    font-size: 4rem;
    color: #fff;
    font-style: italic;
    font-weight: bolder;
}
.navbar .cart-content-in img{
    width: 10rem;
}