{% extends 'nav.html' %}


{% block content %}

{% load static %}

{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">



<body id="top" style="
background: url(/static/assets/images/section-wrapper-bg.jpg);
">

  <!-- 
    - #HEADER
  -->

  





  <main>
    <article>

      <!-- 
        - #HERO
      -->
      <section class="hero" id="hero" >
        <div class="container">

          <p class="hero-subtitle">Welcome To</p>

          <h1 class="h1 hero-title">Entrega</h1>

          <div class="btn-group">

            <a href="{% url 'store' %}"><button class="btn btn-primary">
              <span>Shop Now</span>

              <ion-icon name="play-circle"></ion-icon>
            </button></a>

            

          </div>

        </div>
      </section>





      <div class="section-wrapper">

        <!-- 
          - #ABOUT
        -->

        <section class="about" id="about" >
          <div class="container">

            <figure class="about-banner">

              <img src="{{about.image.url}}" alt="" class="about-img">

              <img src="{{char_1.image.url}}" alt="" class="character character-1">

              <img src="{{char_2.image.url}}" alt="" class="character character-2">

              <img src="{{char_3.image.url}}" alt="" class="character character-3">

            </figure>

            <div class="about-content">

              <p class="about-subtitle">Find team member</p>

              <h2 class="about-title">Experience just for gamers <strong>offer</strong> </h2>

              <p class="about-text">
                Nullam quis ante. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum
                viverra felis nunc
                et lorem. In auctor lobortis lacus. Phasellus gravida semper nisi. Aliquam lobortis.
              </p>

              <p class="about-bottom-text">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>

                <span>Will sharpen your brain and focus</span>
              </p>

            </div>

          </div>
        </section>
        




        <!-- 
          - #TOURNAMENT
        -->

        <section class="tournament" id="tournament">
          <div class="container">

            <div class="tournament-content">

              <p class="tournament-subtitle">Check out our next</p>

              <h2 class="h3 tournament-title">Gaming tournaments!</h2>

              <p class="tournament-text">
                Lpsum dolor sit amet, consectetur adipiscing elit, sed labore et dolore magna aliqua.
              </p>

              <button class="btn btn-primary">Join with us</button>

            </div>

            <div class="tournament-prize">

              <h2 class="h3 tournament-prize-title">Prize pool</h2>

              <data value="80000">$80000</data>

              
                <img src="{{prize.image.url}}" alt="Prize image">
              </figure>

            </div>

            <div class="tournament-winners">

              <h2 class="h3 tournament-winners-title">Last winners</h2>

              <ul class="tournament-winners-list">

                <li>
                  <div class="winner-card">

                    <figure class="card-banner">
                      <img src="{{winner_1.image.url}}" alt="Winner image">
                    </figure>

                    <h3 class="h5 card-title">1st place</h3>

                  </div>
                </li>

                <li>
                  <div class="winner-card">

                    <figure class="card-banner">
                      <img src="{{winner_2.image.url}}" alt="Winner image">
                    </figure>

                    <h3 class="h5 card-title">2nd place</h3>

                  </div>
                </li>

              </ul>

            </div>

          </div>
        </section>





        <!-- 
          - #GALLERY
        -->

        <section class="gallery">
          <div class="container">

            <ul class="gallery-list has-scrollbar">

              {% for add in add %}
              <li>
                <figure class="gallery-item">
                  <img src="{{ add.image.url }}" alt="Gallery image">
                </figure>
              </li>
              {% endfor %}

              

            </ul>

          </div>
        </section>



        <!-- 
          - #TEAM
        -->

        <section class="team" id="team">
          <div class="container">

            <h2 class="h2 section-title">New Team Members</h2>

            <ul class="team-list">

              {% for icon in icon %}
              <li>
                <a href="{% url 'store' %}" class="team-member">
                  
                    <img src="{{icon.image.url}}" alt="Team member image">


                  <ion-icon name="link-outline"></ion-icon>
                </a>
              </li>
              {% endfor %}
              

            </ul>

            <a href="{% url 'store' %}" style="text-decoration: none"><button class="btn btn-primary">view all members</button></a>

          </div>
        </section>





        <!-- 
          - #GEARS
        -->

        <section class="gears" id="gears">
          <div class="container">

            <h2 class="h2 section-title">check our gears</h2>

            <ul class="gears-list">
              {% for products in products|slice:":10" %}
            
              <li>
                <div class="gears-card" >

                  <div class="card-banner" >

                      <a href="{{ products.get_url }}"> <img src="{{products.pro_image1.url}}" alt=""></a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      

                      <span></span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <a href="{{ products.get_url }}"><h3 class="h3 card-title">{{products.product_name_card|slice:":46"}}</h3></a>


                    </div>

                    <div class="card-prize">${{products.price}}</div>

                  </div>

                  <div class="card-actions">
                    {% if products.stock <= 0  %}

                    <a href="{{ products.get_url }}" class="btn btn-primary">
                      

                      <span>Out of Stock</span>
                    </a>


                    {% else %}
                    <a href="{% url 'add-cart' products.id %}" class="btn btn-primary">
                      <ion-icon name="add-outline"></ion-icon>

                      <span>Add to cart</span>
                    </a>
                    {% endif  %}
                    

                  </div>

                </div>
              </li>

              {% endfor %}

              
              

            </ul>

          </div>
        </section>





       
  <!-- 
    - #FOOTER
  -->

  <footer>

    <div class="footer-top" style="
    background: url(../static/assets/images/footer-bg.jpg);
">
      <div class="container">

        <div class="footer-brand-wrapper" >

          <a href="#" class="logo">
            <img src="{{logo.image.url}}">
          </a>

          <div class="footer-menu-wrapper">

            <ul class="footer-menu-list">

              <li>
                <a href="#hero" class="footer-menu-link">Home</a>
              </li>

              <li>
                <a href="#about" class="footer-menu-link">About</a>
              </li>

              <li>
                <a href="#tournament" class="footer-menu-link">Tournament</a>
              </li>

              <li>
                <a href="#team" class="footer-menu-link">Team</a>
              </li>

              <li>
                <a href="#gears" class="footer-menu-link">Gears</a>
              </li>

              <li>
                <a href="#" class="footer-menu-link">Contact</a>
              </li>

            </ul>

            

          </div>

        </div>

        <div class="footer-quicklinks">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-item">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-item">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-item">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-item">Privacy</a>
            </li>

          </ul>

          <ul class="footer-social-list">

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-discord"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-twitch"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-xbox"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          Copyright &copy; 2022 <a href="#">ENTREGA</a>. all rights reserved
        </p>

        
      </div>
    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="btn btn-primary go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

{% endblock %}