{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




<div class="upper">
    <div class="logo" style="
        display: flex;
        justify-content: center;">
      <a href="#" >
        <img src="{{logo.image.url}}">
      </a>
    </div>

    <div class="login-div">
        <form class="login" method="POST" id="registration_form">
           
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong style="color: #ed0e25 ; "> {{message}} </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            
                
            <div class="signin-button-one">
                <a href="{% url 'login-phone' %}"  > Signin With Phone </a>
            </div>
            <br>
            <div>
                {% for message in messages %}
                <div class="">
                  <strong style="color: #ed0e25 ; "> {{message}} </strong>
                </div>
                {% endfor %}
            </div>
            <br>
            {% csrf_token %}
            <h1>Sign In</h1>
            <div class="input-text">
                <input type="text" id="inputEmail" name="email" placeholder="Email" />
                <div class="warning-input" id="email_error_message">
                    Please enter a valid email or phone number.
                    
                </div>
            </div>
            
            <div class="input-text">
                <input type="password" id="inputPassword" name="password" placeholder="Password" />
                <div class="warning-input" id="password_error_message">
                    Your password must contain between 4 and 60 characters.
                </div>
            </div>
            
            <div>
                <button type="submit " class="signin-button">Sign In
                    
                </button>
            </div>
            <br>
            <br>
            
            <div class="remember-flex">
                <div class="help">
                    <a class="color_text" href="{% url 'forgot_password' %}">Forgot password?</a>
                </div>
                <div class="new-members">
                    New to Entrega? <a href="{% url 'signup_user' %}" class="signup-link">Sign up now</a>.
                </div>
            </div>
           
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<script type="text/javascript">

    $("registration_form"). submit(function(e){
    e. preventDefault();
    });

    
    $(function() {

       $("#email_error_message").hide();
       $("#password_error_message").hide();


       var error_email = false;
       var error_password = false;

       $("#inputEmail").focusout(function() {
          check_email();
       });
       $("#inputPassword").focusout(function() {
          check_password();
       });


       

       function check_password() {
          var password_length = $("#inputPassword").val().length;
          if (password_length < 8) {
             $("#password_error_message").html("Atleast 8 Characters");
             $("#password_error_message").show();
             $("#inputPassword").css("border-bottom","2px solid #F90A0A");
             error_password = true;
          } else {
             $("#password_error_message").hide();
             $("#inputPassword").css("border-bottom","2px solid #34F458");
          }
       }

       function check_email() {
          var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
          var email = $("#inputEmail").val();
          if (pattern.test(email) && email !== '') {
             $("#email_error_message").hide();
             $("#inputEmail").css("border-bottom","2px solid #34F458");
          } else if(email == ''){
             $("#email_error_message").html("Please enter your email address");
             $("#email_error_message").show();
             $("#inputEmail").css("border-bottom","2px solid #F90A0A");
          }
          else {
             $("#email_error_message").html("Please enter a valid email address");
             $("#email_error_message").show();
             $("#inputEmail").css("border-bottom","2px solid #F90A0A");
             error_email = true;
          }
       }

       $("#registration_form").submit(function() {
          error_email = false;
          error_password = false;

          check_email();
          check_password();

          if (error_email === false && error_password === false) {
             
             return true;
          } else {
             return false;
          }


       });
    });
 </script>

{% endblock %}