{% extends 'index.html' %}


{% block title %}Login{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">


<div class="upper">
    {% for logo in logo %}
    <div class="logo">
      <a href="#" >
        <img src="{{logo.image.url}}">
      </a>
    </div>
    {% endfor %}
    
    <div class="login-div">
        <form class="login" method="POST">

            
            <br>
            <br>
            {% csrf_token %}
            <h1>Sign In</h1>


            {% if messages %}     
                <div class="messages">
                    {% for message in messages %}
                    <strong style="color: #ed0e25 ; "> {{message}} </strong>
                </div>
                    {% endfor %}
                </div>
                {% endif %}
            <div class="input-text">
                <input type="text" id="inputEmail" name="mobile" placeholder=" phone number" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningEmail">
                    Please enter a valid email or phone number.
                    
                </div>
            </div>
            
            <div class="input-text">
                <input type="password" id="inputPassword" name="password" placeholder="Password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningPassword">
                    Your password must contain between 4 and 60 characters.
                </div>
            </div>
            
            <div>
                <button type="submit " class="signin-button">Sign In
                    
                </button>
            </div>
            <br>
            <br>
            {% if messages %}
            <div class="alert alert-danger w-40 mx-auto" role="alert">
              
            
            <div class="remember-flex">
                <div class="help">
                    <a class="color_text" href="{% url 'forgot_password' %}">Forgot password?</a>
                </div>
                <div class="new-members">
                    New to Entrega? <a href="{% url 'signup_user' %}" class="signup-link">Sign up now</a>.
                </div>
            </div>
           
        </form>
    </div>
</div>


{% endblock %}